<nb-layout>
    <nb-layout-header fixed>
      <ngx-header></ngx-header>
    </nb-layout-header>
  
    <nb-layout-column>
  
      <nb-card>
        <nb-card-header>
          <div class="title-div">
            <a routerLink="/stations/{{ id_2_station[id] }}">返回</a>
            <!-- <span>{{ selected_program.station }}</span> -->
          </div>
        </nb-card-header>
        <nb-card-body>
          
        </nb-card-body>
      </nb-card>
    </nb-layout-column>
  
    <nb-layout-footer fixed>
      <ngx-footer></ngx-footer>
    </nb-layout-footer>
  </nb-layout>
