<nb-layout>

  <nb-layout-column style="padding: 0;">
    <div class="back-div">
      <div class="logout-div">
        <nb-card>
          <nb-card-body class="logout-card">
            <div style="font-weight: bold;font-size: 3rem;">正在退出&nbsp;&nbsp;{{ show_title }}</div>
            
          </nb-card-body>
        </nb-card>

      </div>

    </div>

    <div class="footer-div">
      <span class="created-by">Created with ♥ by <b><a href="#" target="_blank">MaboTech</a></b> 2018</span>
    </div>
  </nb-layout-column>

</nb-layout>

